body{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;

}
.first-sec{
    background-image: url(images/header-bg.png);
    height:600px;
    margin-bottom:100px;
}
.first-h1{
    color:rgb(236, 12, 49);
    font-size: 30px;
}
.box1{
    width:40%;
    height: 500px;
    float:left;
    margin-left:5%;
    padding:2%;
}
.box-img img{
    width:40%;
    height:400px;
    margin-top:100px;
}
    
.link-button{
    text-decoration: none;
    background-color: rgb(189, 33, 33);
    padding: 5px 20px;
    border-radius: 10px;
    font-weight:700;
    color:white;
    background-image:linear-gradient(45deg,rgb(189, 34, 42), tomato);
}
.second-img img{
    width:25%;
    height: 400px;
    float:left;
    margin-left:3%;
    padding:2%;
    border-radius: 50%;
    margin-top:15px;


}
.second-sec{
    height:500px;
    background-image: url(images/biography-bg.png);
    margin-bottom:100px;

}
.biography-h{
    color: orange;
}
.latest-img img{
    width:25%;
    float:left;
    margin-left:4%;
    padding:1%;

}
.latest-h{
    text-align: center;
    background-color: cyan;
    color:gray;
    font-weight: 700;
    border: 2px solid orange;
    
}
.third-sec{
    
    margin-bottom:200px;
    height:300px;
    
}
.forth-sec{
    height:500px;
    width:100%;
    background-image:url(images/footer-bg.png);
    margin:auto;
    text-align:center;
}
.client{
    height:200px;
    margin-bottom:80px;
}
.client-h{
    font-size:30px;
}
.client-n{
    font-size:20px;
    font-weight:normal;
}


.client-s{
    font-size: 10px;
    
}
.client-p{
    width:25%;
    text-align:center;
    margin:auto;
    

}
.client-link p{
    text-decoration: none;
}
.client-link{
        width:40%;
        text-decoration: none;
        margin:auto;
        color:white;
        background-image: linear-gradient(45deg, rgb(175, 16, 127),rgb(104, 8, 75));
        border-radius: 10px;
        padding:10px 20px;

        
        
}
.client-link a{
    text-decoration:none;
    font-size:30px;
    font-weight:400;
    color:white;

   

}
.client-link a p{
    font-size:15px;
}
.copyright{
    margin-top: 100px;
}
.founder{
    font-size: 12px;
    font-weight: 300;
}

.five-sec{
    height:300px;
    margin-top:150px;
    
    font-size:20px;
    font-weight:bold;
    width:100%;
   
    
}
.input1{
    width:400px;
    height:30px;
    border:2px solid greenyellow;
    border-radius: 10px;
}

.pass{
    width:400px;
    height:30px;
    border:2px solid greenyellow;
    border-radius: 10px;
}
.button{
    padding:10px 20px;
    color:royalblue;
    background-color:darksalmon;
    border:2px solid greenyellow;
    border-radius: 10px;
    
}
.five-sec-dev1{
    margin:auto;
    width:50%;
    border: 1px solid cadetblue;
    border-radius:10px;
    background-color: cyan;
    padding:50px;
   
    
}

.input1:focus{
    width:500px;
    color:darkmagenta;
}
.pass:focus{
    width:500px;
    color: darkmagenta;
}
.five-h{
    color:orange;
    
}
.five-h:hover{
    color:orangered;
    font-size:35px;

}
.un:hover{
    color:darkgoldenrod;
    font-size: 35px;
}
.ps:hover{
    color:darkgoldenrod;
    font-size: 35px;;
}
.buttton:hover{
    color:darkgoldenrod;
    padding:10px 40px;
    transition:2s;
}